<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>postagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let postagem of listapostagens">
    <img [src]="postagem.imagem" />
    <ion-card-content>

      <ion-card-title>
        {{postagem.titulo}}
      </ion-card-title><br />
      <div class="ion-text-justify">
        <p>
          {{postagem.corpo}}
        </p>
      </div>
      <!-- <ion-button [routerLink]="['/detalhes/' + postagem.id]" routerdirection="forward">Detalhes</ion-button> -->

    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-button size="small" fill="outline" [routerLink]="['/editpostagem/' + postagem.id]"
            routerdirection="forward">
            <ion-icon name="brush"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="outline">
            <ion-icon name='star'></ion-icon>
          </ion-button>
          <ion-button size="small" fill="outline">
            <ion-icon name='share-alt'></ion-icon>
          </ion-button>
          <ion-button size="small" fill="outline" (click)='deletarPostagen(postagem.id)'>
              <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <!-- primeira forma de listagem -->
  <!-- <ion-list>
        <ion-item *ngFor="let postagem of listapostagens">
            <ion-thumbnail slot="start">
                <img [src]="postagem.imagem"/>
            </ion-thumbnail>
            <ion-label>{{postagem.corpo}}</ion-label>
            <br/><ion-button [routerLink]="['/detalhes/' + postagem.id]" routerdirection="forward">Detalhes</ion-button>
            <br/><ion-button [routerLink]="['/editpostagem/' + postagem.id]" routerdirection="forward">Editar</ion-button>
            <br/><ion-button (click)='deletarpostagen(postagem.id)'>Exluir</ion-button>
        </ion-item>
    </ion-list> -->

  <!-- fIM primeira forma de listagem -->


</ion-content>