<ion-content color="primary">


  <form #form="ngForm" >

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>

          <div padding>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="email" [(ngModel)]="usuario.email" name="email" #email="ngModel" required></ion-input>
            </ion-item>
            <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
              O campo é obrigatório
            </ion-item>

            <ion-item>
              <ion-label>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="usuario.password" name="password" #password="ngModel" required></ion-input>
            </ion-item>
            <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
              O campo é obrigatório
            </ion-item>

          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block" [disabled]="!form.form.valid" (click)="login()">Login</ion-button>
          </div>

        </ion-col>
        <div text-center>
          Se vc não tem uma conta, por favor <a [routerLink]="['/criarconta']" routerdirection="forward">crie sua
            conta</a> primeiro!
        </div>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>