<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
    <ion-title>usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-list>
    <ion-item *ngFor="let usuario of listausuarios">
      <ion-grid>
          
      <ion-avatar >
        <ion-img [src]="usuario.foto"></ion-img>
      </ion-avatar>
      
      <ion-row>
      <ion-label>{{usuario.username}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-button small [routerLink]="['/postagens/' + usuario.id]" routerdirection="forward" ><ion-icon name="paper"></ion-icon></ion-button>
      <ion-button [routerLink]="['/addpostagem/' + usuario.id]" routerdirection="forward">
        <ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-button (click)='deletarUsuario(usuario.id)'><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button [routerLink]="['/editusuario/' + usuario.id]" routerdirection="forward"><ion-icon name="create"></ion-icon></ion-button>
    </ion-row>
    </ion-grid>
      



    </ion-item>
  </ion-list>
  
</ion-content>
