<ion-content>
  <div class="wrap-register-v3">
    <div class="wrap-interval pdl-70 pdr-70">
      <div class="core-float">
        <div class="brand">
          <img src="assets/img/lemon_only_w.png">
          <p class="fs-12 txt-light pdl-30 pdr-30">Crie sua conta e dissemine seu conhecimento pelo mundo</p>
        </div>
        <br/>
        <div class="main-form">
          <form class="" novalidate (ngSubmit)="criarConta()">
              <ion-label class="txt-light fs-12 uppercase">Usuário</ion-label>
              <ion-item lines="none" class="bdra-30 shadow-2 bg-light">
                <ion-input type="text" [(ngModel)]="usuario.username" name="username" ></ion-input>
              </ion-item>
            <ion-label class="txt-light fs-12 uppercase">Email</ion-label>
            <ion-item lines="none" class="bdra-30 shadow-2 bg-light">
              <ion-input type="email" [(ngModel)]="usuario.email" name="email" ></ion-input>
            </ion-item>
            <ion-label class="txt-light fs-12 uppercase">Password</ion-label>
            <ion-item lines="none" class="bdra-30 shadow-2 bg-light mgt-5">
              <ion-input type="password" [(ngModel)]="usuario.password" name="password" ></ion-input>
            </ion-item>
            <br/>
            <ion-button shape="round" expand="block" fill="solid" class="uppercase spacing1 fw-600" type="submit">
              Criar conta
            </ion-button>
          </form>
          <br/>
          <div text-center class="">
            <p class="fs-12 txt-light mgb-5">Ou faça seu login com</p>
            <hr/>
            <ion-button mode="md" shape="round" color="info" class="mg-5 txt-light">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button mode="md" shape="round" color="danger" class="mg-5 txt-light">
                <ion-icon name="logo-googleplus"></ion-icon>
            </ion-button>
            <ion-button mode="md" shape="round" color="info" class="mg-5 txt-light">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button mode="md" shape="round" color="secondary" class="mg-5 txt-light">
                <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-img">
      <img src="assets/img/lemon21.jpg">
    </div>
  </div>
  
</ion-content>
<!-- <ion-content color="primary">


  <form (ngSubmit)="criarConta()">

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crie sua conta!</h3>
          </div>

          <div padding>

            <ion-item>
              <ion-label>Nome</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.name" name="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.username" name="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="email" [(ngModel)]="usuario.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Área de Atuação</ion-label>
                <ion-select [(ngModel)]="usuario.userarea" name="userarea">
                    <ion-select-option value="computacao">Ciência da Computação</ion-select-option>
                    <ion-select-option value="admin">Administração</ion-select-option>
                    <ion-select-option value="historia">História</ion-select-option>
                    <ion-select-option value="direito">Direito</ion-select-option>
                  </ion-select>
                 <ion-input type="text" [(ngModel)]="usuario.userarea" name="userarea"></ion-input> 
              </ion-item>
            <ion-item>
              <ion-label>Foto</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.foto" name="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="usuario.password" name="password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block">Criar Conta</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content> -->